body {
    font-family: "space-mono", mono;
    font-weight: 400;
    font-style: normal;
  font-size: 18px;
}
header,
footer {
    font-family: "biorhyme-variable", sans-serif;
  font-weight: 1000;
  font-style: normal;
  background-color: #e7c69e;
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
  margin: 25px;
  text-align: center;
  /* border: 3px solid #000000; */
  box-shadow: 0px 0px 3px 2px #000000;
}
.site-title {
  font-size: 45px;
  padding: 25px 25px 5px 25px;
  margin: 5px;
  color: #5f3705;
}
#my-image {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 2px 1px black;
}
ul {
  list-style-type: square;
}
ul :nth-child(odd) {
  color: #5f3705;
  background-color: #e7c69e;
  max-width: 300px;
}

a {
    font-family: "space-mono", mono;
font-weight: 400;
font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #b78c58;
  margin: 100px;
  padding: 10px;
  background-color: #eeebe0;
  border: 2px solid #000000;
  border-radius: 5px;
  text-align: center;
}
a:hover {
  color: #eeebe0;
  background-color: #b78c58;
}
h1 {
    font-family: "biorhyme-variable", sans-serif;
  font-size: 25px;
}
article{
    font-family: "space-mono", mono;
font-weight: 400;
font-style: normal;
  font-variation-settings: "wdth" 100, "wght" 800;
  line-height: 1.5rem;
}
dl {
    font-family: "space-mono", mono;
}
main {
  margin-left: 27px;
}
