/* Global Styles */
body {
  font-family: "stevie-sans", sans-serif;
  background-color: #aad4cf;
  max-width: 100%;
}
/* Banner Section */
.banner {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.title {
  font-size: 102px;
  padding: 0px 0px 90px 0px;
  font-weight: 700;
}
/* Positioning the title over the image */
h1 {
  position: absolute;
  top: 37%;
  left: 29%;
  color: white;
  font-size: 48px;
  font-weight: normal;
}
/* Nav Bar */
nav{
  margin-top: 15px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
  gap: 50px;
}
a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
a:hover{
  color: white;
}
nav ul li {
  position: relative;
  padding: 0 250px;
}
nav ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 2px;
  background-color: black;
}
/* Starfish image alignment */
.starfish-image {
  float: left;
  margin: 0px 20px 0px 0px;
  padding-left: 10px;
}
/* Content Section */
.content {
  font-size: 1.5rem;
  line-height: 32px;
  padding-left: 10px;
}
#story{
  font-size: 2rem;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
}
h3{
  font-size: 2rem;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
}
h2{
  font-size: 2rem;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
}
section {
  margin-top: 15px;
  margin-bottom: 0px;
}
/* Contact Form */
form {
  border: 2px solid black;
  max-width: 100%;
  margin: 20px 25px 5px 15px;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
/* Input fields styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  display: block;
  margin: 5px auto;
  font-size: 24px;
  width: 100%;
}
.radio {
  margin: 20px 0;
  font-size: 18px;
}
.radio label {
  margin-right: 15px;
}
#name,
#email {
  height: 30px;
}
section ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 24px;
  margin-left: 20px;
}
/* Submit Button */
button {
  padding: 20px 20px;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  font-size: 16px;
}
button:hover{
  border: 2px solid white;
  color: azure;
}
footer {
  text-align: right;
  padding: 20px 40px;
}