body{
background-color: blanchedalmond;
color: black;
line-height: 1.5;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
header{
    background-color: black;
    color: bisque;
    padding: 6rem 0 3rem 0; 
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1.5 ;
    /* background-position: center; */
    text-align: center;
}
h1{
font-size: 5.063em;
text-transform: uppercase;
}
h2{
font-size: 3.375em;
}
h3{
font-size: 2.25em;
}
p{
    font-size: 1.5rem;
}
nav ul li{
    display: inline;
    color: aliceblue;
    margin: 0 0.5rem;
}
nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover{
    background-color: aliceblue;
    color: black;
}
section{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgb(51, 51, 51);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
footer{
    background-color: #333;
    color: aliceblue;
    padding: 0.8rem 0;
    text-align: center;
    margin-top: 1rem;
}
footer p{
    font-size: 1rem;
}
aside{
    background-color: rgb(243, 197, 137);
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}
aside ul{
list-style: disc;
margin-left: 1.5rem;
}
aside li{
font-size: 1.5;
}
table{
    width: 100%;
    text-align: center;
}
tr, th, td{
  border: 2px solid black;  
}